# Celery confingiration
TRAIN_NOTIFIER__CELERY_CONF__BROKER_URL='redis://celery_redis:6379/0'
TRAIN_NOTIFIER__CELERY_CONF__BACKEND_URL='redis://celery_redis:6379/0'
CELERY_WORKERS_COUNT=4

# MongoDB configuration
TRAIN_NOTIFIER__MONGODB_CONF__DB_HOST='mongo'
TRAIN_NOTIFIER__MONGODB_CONF__DB_PORT=27017
TRAIN_NOTIFIER__MONGODB_CONF__DB_USER='admin'
TRAIN_NOTIFIER__MONGODB_CONF__DB_PASS=11111

# Telegram configuration
TRAIN_NOTIFIER__TELEGRAM_CONF__TOKEN='YOUR_BOT_TOKEN'
TRAIN_NOTIFIER__TELEGRAM_CONF__WEBHOOK__BASE_WEBHOOK_URL='YOUR_WEBHOOK_OPEN_URL'