# Celery confingiration
TRAIN_NOTIFIER__TASKIQ_CONF__BROKER_URL = 'amqp://guest:guest@taskiq_broker:5672/'
TRAIN_NOTIFIER__TASKIQ_CONF__BACKEND_URL = 'redis://taskiq_backend:6379/0'

# DB configuration
TRAIN_NOTIFIER__DB_CONF__DB_HOST = 'db'
TRAIN_NOTIFIER__DB_CONF__DB_PORT = 5432
TRAIN_NOTIFIER__DB_CONF__DB_USER = 'postgres'
TRAIN_NOTIFIER__DB_CONF__DB_PASS = 11111
TRAIN_NOTIFIER__DB_CONF__DB_NAME = 'train_notifier'

# Telegram configuration
TRAIN_NOTIFIER__TELEGRAM_CONF__TOKEN = 'YOUR_BOT_TOKEN'
TRAIN_NOTIFIER__TELEGRAM_CONF__WEBHOOK__BASE_WEBHOOK_URL = 'YOUR_WEBHOOK_OPEN_URL'
TRAIN_NOTIFIER__TELEGRAM_CONF__WEBHOOK__WEB_SERVER_HOST = '0.0.0.0'
